*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
 background-color : #030013;
}
header {
  padding:4%;
  width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul{
      justify-content: flex-end;
        display:flex;
        gap:20px;
        list-style:none;
    }

}
nav{
  display:flex;
  ul{
    display:flex;
    gap:20px;
    list-style:none;
  } 
}
.logo{
  font-size:10px;

}
