@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #030013;
  color: rgba(255, 255, 255, 0.912);
  font-family: "Poppins";
}

p {
  display: flex;
  font-size: 1.2vw;
  text-align: center;
  transition: all 0.3s ease;
  transform: scale(1);
}

p:hover {
  transform: scale(1.05);
}

h1 {
  display: flex;
  font-size: 3vw;
  text-align: center;
  color: rgb(171, 169, 169);
  transition: all 0.3s ease;
  transform: scale(1);
  mix-blend-mode: color-dodge;
  animation: moverh1 4s forwards;
}


h1:hover {
  transform: scale(1.05);
  color: rgba(255, 255, 255, 0.8);
 }
@keyframes moverh1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a {
  display: flex;
  text-decoration: none;
  transition: all 0.3s ease;
  transform: scale(1);
  color: white;
}
h2{
  animation: moverEixo 2s forwards;
}
a:hover {
  color: rgba(255, 255, 255, 0.912);
  transform: scale(1.10);
}

header {
  width: 100%;
  display: flex;
  padding: 4%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  /* o position fixed permite que esse componete se permaneca
   fixo na pagina idenpendetemente se minizarmos a pagina */
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: none;
  outline: none;
  font-family: "Poppins";
}

.logo {
  width: 40px;
  display: flex;
  transition: all 0.3s ease;
  transform: scale(1);
  animation: moverlogo 3s forwards;

} @keyframes moverlogo{
   from{
     translate: -100px;
   }
   to{
    translate: 0 0;
   }
}

.logo:hover {
  transform: rotate(130deg);
  scale: 1.03;

}

.menu {
  display: flex;
  gap: 20px;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px 20px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  z-index: 99;
  transition: all 0.3s ease;
  transform: scale(1);
  color: white;
  animation: movermenu 2s forwards;
}
@keyframes movermenu{
   from{
     translate: 100px;
   }
   to{
    translate: 0 0;
   }
}
.menu:hover {
  transform: scale(1.05);
}

section {
  display: flex;
  flex-direction: column;
}

.intro {
  background-image: url('imgs/section1.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.intro h2 {
  font-size: 11vw;
  mix-blend-mode: color-dodge;
  /* propiedade usa para fazer a meslagem com o plano de fundo, para funcionar
  quanto mais acizentado, maior sera a mesclagem, quanto mais branco,
  menor sera a mesclagem */
  color: rgb(171, 169, 169);
  margin-bottom: 50px;
  border: none;
  transition: all 0.3s ease;
  transform: scale(1);
  translate: 0 0;
  
}
@keyframes moverEixo{
   from{
     translate: 0 -100px;
   }
   to{
    translate: 0 0;
   }
}
.intro h2:hover {
  transform: scale(1.05);
 
}

.titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  p{
    animation: moverp 4s forwards;
  }
}
@keyframes moverp{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.buttons-header {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
@keyframes moverBtn{
   from{
     translate: 0  100px;
   }
   to{
    translate: 0 0;
   }
}

.btn-orçamento {
  animation:  moverBtn 3s forwards;
  display: flex;
  padding: 10px 20px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease;
  /* o transition é usado para fazer uma transição suave entre o estado
   normal e o estado hover do botão, ele sómente funciona se houver uma certa 
   transparência*/
  transform: scale(1);
  /* o transform na tag normal, é usado para definir o tamanho 
  inicial do botão.*/
}

.btn-orçamento:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transform: scale(1.05);
  /* background-color: rgba(255, 255, 255, 0.9);7 */
  /* ja no hover, que é a parte de interação do mouse, o transform é usado 
  para aumentar o botão */
}

@keyframes Moverbtn-contato{
   from{
     translate: 0 100px;
   }
   to{
    translate: 0 0;
   }
}

.btn-contato {
  align-items: center;
   animation: Moverbtn-contato 3s forwards;
  justify-content: center;
  font-size: 16px;
  font-family: "Poppins";
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.6);
  transform: scale(1);
  transition: all 0.3s ease;
}

.btn-contato:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transform: scale(1.05);
}
